@import '../../../styles/layout.scss';

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

.container {
  @extend %flex, %flex-row;
  width: max-content;
  margin-top: 36px;
}

.artwork {
  width: 100vw;
  height: 100vw;
  object-fit: cover;
}
