@import '../../../styles/colors.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/typography.scss';

.card {
  margin-top: -32px;
}

.heading {
  @extend %flex, %flex-column;
  margin-bottom: 12px;
  color: $gray-1;
}

.title {
  @extend %title-regular;
  margin-bottom: 8px;
}

.hashtags {
  @extend %flex, %flex-row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.hashtag {
  @extend %caption-light;
  padding: 4px;
  margin: 4px 8px 4px 0;
  border: 1px solid $gray-2;
  border-radius: 30px;
  color: $gray-2;
  line-height: 12px;
}

.creators-container {
  @extend %flex, %flex-row;
  flex-wrap: wrap;
  justify-content: start;
}

.creator-info {
  @extend %flex, %flex-column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 12px 24px 12px 0;
}

.creator-title {
  @extend %body-light;
  margin-bottom: 4px;
  color: $gray-3;
}

.creator-content {
  @extend %body-regular;
  color: $gray-2;
}

.performers-container {
  margin-bottom: 32px;
}

.sub-heading {
  @extend %flex, %flex-row, %flex-align-center;
  flex-wrap: wrap;
}

.sub-heading-text {
  @extend %heading-bold;
  margin-right: 16px;
  color: $gray-2;
}

.performers-tag {
  @extend %body-light;
  color: $purple-1;
}

.row-with-indicator {
  margin-top: 32px;
}

.row-indicator {
  @extend %flex, %flex-row, %flex-align-center;
  margin-left: -10px;
}

.indicator {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  margin-right: 16px;
  border: 6px solid $gray-3;
  border-radius: 50%;
  color: $white;
}

.row-number {
  @extend %body-light;
  color: $gray-2;
}

.row {
  @extend %grid-three-columns;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0 24px 12px;
  border-left: 1px solid $gray-5;
}

.row-no-indicator {
  @extend %grid-three-columns;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0 24px;
  margin-top: 16px;
}
