%top-left-background {
  position: absolute;
  left: 0;
  top: 0;
}

.pattern-one {
  @extend %top-left-background;
  background: linear-gradient(0deg, #ffffba, #ffcbfa), rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 560px;
  z-index: -2;
}

.triangle-cut {
  @extend %top-left-background;
  top: 60px;
  border-style: solid;
  border-width: 0 0 500px 100vw;
  border-color: transparent transparent #fff transparent;
  z-index: -1;
}
