@import '../../../styles/elevations.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/typography.scss';
@import '../../../styles/colors.scss';

.container {
  @extend %elevation-2;
  position: relative;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  border-radius: 6px;
}

.artwork-container {
  position: relative;
  box-sizing: border-box;
}

.artwork-container::before {
  display: grid;
  width: 0;
  height: 0;
  padding-bottom: 100%;
  content: '';
}

.artwork {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
}

.text {
  @extend %flex, %flex-align-center;
  overflow: hidden;
  height: 48px;
  margin: 4px 8px;
  color: $gray-2;
  font-size: 13px;
  font-weight: $weight-regular;
}
