.container {
  min-height: 100vh;
  background-image: url('assets/images/gradient-bg-2.svg');
  background-position-y: -180px;
  background-size: 100%;
}

.tab {
  padding: 32px;
}

.card-list {
  padding: 64px 0 80px;
}
