$elevation-1: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
$elevation-2: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
$elevation-3: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
$elevation-4: 0px 9px 18px 0px rgba(0, 0, 0, 0.2);
