$font-light: 300;
$font-regular: 500;
$font-bold: 700;

%title-regular {
  font-size: 16px;
  font-weight: $font-regular;
}

%title-bold {
  font-size: 16px;
  font-weight: $font-bold;
}

%body-regular {
  font-size: 14px;
  font-weight: $font-regular;
}

%body-bold {
  font-size: 14px;
  font-weight: $font-regular;
}

%caption-regular {
  font-size: 12px;
  font-weight: $font-regular;
}

%caption-bold {
  font-size: 12px;
  font-weight: $font-bold;
}
