@import '../../../styles/layout.scss';

.container {
  position: relative;
  height: 100vw;
  margin-top: 36px;
}

.artwork {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enter {
  opacity: 0;
  transform: translateX(100px);
}

.enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 300ms, transform 300ms;
}

.exit {
  opacity: 1;
  transform: translateX(0px);
}

.exit-active {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 300ms, transform 300ms;
}
