@import '../../../../styles/colors.scss';

%top-left-background {
  position: absolute;
  top: 0;
  left: 0;
}

%bottom-right-background {
  position: absolute;
  right: 0;
  bottom: 0;
}

%pattern-one {
  z-index: -2;
  width: 100vw;
  height: 548px;
  background: $gradient-1;
}

%pattern-two {
  z-index: -2;
  width: 100vw;
  height: 548px;
  background: $gradient-2;
}

%triangle-cut {
  z-index: -1;
  top: 48px;
  border-width: 0 0 500px 100vw;
  border-style: solid;
  border-color: transparent transparent $white transparent;
}

.pattern-one-top {
  @extend %top-left-background, %pattern-one;
}

.pattern-two-top {
  @extend %top-left-background, %pattern-two;
}

.triangle-cut-top {
  @extend %top-left-background, %triangle-cut;
}

.pattern-one-bottom {
  @extend %bottom-right-background, %pattern-one;
}

.pattern-two-bottom {
  @extend %bottom-right-background, %pattern-two;
}

.triangle-cut-bottom {
  @extend %bottom-right-background, %triangle-cut;
}
