@import 'styles/typography.scss';
@import 'styles/colors.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.text {
  padding-bottom: 4px;
  margin: 4px;
  color: $gray-2;
  font-size: $size-sub-heading;
  font-weight: $weight-regular;
}

.selected {
  border-bottom: 3px $gray-1 solid;
  color: $gray-1;
  font-size: $size-heading;
  font-weight: $weight-bold;
}
