@import '../../../styles/elevations.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/typography.scss';

%navigation-bar-icon {
  width: 24px;
  height: 24px;
}

%text {
  font-size: $size-body;
  font-weight: $weight-bold;
}

.container {
  @extend %flex, %flex-row, %elevation-3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  justify-content: space-evenly;
  background-color: $white;
}

.button {
  @extend %flex, %flex-column, %flex-align-center, %flex-justify-center;
  width: 100%;
  height: 48px;
}

.icon-active {
  @extend %navigation-bar-icon;
  fill: $purple-1;
}

.icon-inactive {
  @extend %navigation-bar-icon;
  fill: $gray-3;
}

.text-active {
  @extend %text;
  color: $purple-1;
}

.text-inactive {
  @extend %text;
  color: $gray-3;
}
