@import '../../../styles/elevations.scss';
@import '../../../styles/colors.scss';

.navigation {
  @extend %elevation-3-up;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: $white;
}
