@import '../../../styles/colors.scss';
@import '../../../styles/elevations.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/typography.scss';

$title-bar-height: 48px;

.container {
  @extend %flex, %flex-row, %flex-align-center, %elevation-3;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: $title-bar-height;
  background-color: $white;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  @extend %flex, %flex-align-center, %flex-justify-center;
  width: $title-bar-height;
  height: $title-bar-height;
  cursor: pointer;
}

.icon {
  fill: $gray-1;
}

.title {
  @extend %sub-heading-bold;
  color: $gray-1;
  line-height: $title-bar-height;
}
