@import '../../../styles/colors.scss';
@import '../../../styles/elevations.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/typography.scss';

.container {
  @extend %flex, %flex-row, %flex-align-center, %elevation-3;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: $white;
}

.button {
  @extend %flex, %flex-align-center, %flex-justify-center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.icon {
  fill: $gray-1;
}

.title {
  @extend %sub-heading-regular;
  color: $gray-1;
  line-height: $size-sub-heading;
}
