@import 'styles/elevations.scss';
@import 'styles/colors.scss';
@import 'styles/layout.scss';
@import 'styles/typography.scss';

%badge {
  @extend %elevation-0;
  position: absolute;
  top: -2%;
  right: -2%;
  width: 6vw;
  height: 6vw;
  border-width: 3px;
  border-style: solid;
  border-radius: 4px 4px 4px 16px;
  font-size: 3.5vw;
  line-height: 6vw;
  text-align: center;
}

.center-badge {
  @extend %badge, %caption-bold;
  border-color: $white;
  background-color: $purple-1;
  color: $white;
}

.fukujin-badge {
  @extend %badge, %caption-regular;
  border-color: $white;
  background-color: $gray-1;
  color: $white;
}

.container {
  @extend %elevation-2;
  position: relative;
  display: flex;
  width: auto;
  flex-direction: column;
  background-color: $white;
  border-radius: 6px;
}

.profile-image-container {
  position: relative;
  padding: 6px;
}

.profile-image-container::before {
  display: grid;
  width: 0;
  height: 0;
  padding-bottom: 120%;
  content: '';
}

.profile-image {
  position: absolute;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  box-sizing: border-box;
  border-radius: 6px;
  object-fit: cover;
  object-position: top;
}

.text {
  @extend %flex, %flex-align-center, %flex-justify-center, %caption-bold;
  padding: 0 8px 8px;
  color: $gray-2;
}

@media screen and (max-width: 340px) {
  .text {
    font-size: 10px;
  }
}
