@import '../../../styles/elevations.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/typography.scss';

%badge {
  @extend %elevation-0;
  position: absolute;
  top: -2%;
  right: -2%;
  width: 24px;
  height: 24px;
  border-width: 3px;
  border-style: solid;
  border-radius: 4px 4px 4px 16px;
  line-height: 24px;
  text-align: center;
}

.center-badge {
  @extend %badge, %caption-bold;
  border-color: $white;
  background-color: $purple-1;
  color: $white;
}

.fukujin-badge {
  @extend %badge, %caption-regular;
  border-color: $white;
  background-color: $gray-1;
  color: $white;
}

.container {
  @extend %elevation-2;
  position: relative;
  display: flex;
  width: auto;
  flex-direction: column;
  background-color: $white;
  border-radius: 6px;
}

.profile-image-container {
  position: relative;
}

.profile-image-container::before {
  display: grid;
  width: 0;
  height: 0;
  padding-bottom: 120%;
  content: '';
}

.profile-image {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  border-radius: 6px;
  object-fit: cover;
}

.text {
  @extend %flex, %flex-align-center, %flex-justify-center, %caption-regular;
  padding: 0 8px 8px;
  color: $gray-2;
}
