@import "../../../../styles/colors.scss";
@import "../../../../styles/typography.scss";

.button {
  color: $gray-1;
  font-size: 14px;
  font-weight: $font-regular;
  border: none;
  border-radius: 6px;
  background: #fff;
  display: inline-block;
  cursor: pointer;
  outline: inherit;
  padding: 8px 40px 8px 16px;
  text-align: left;
}

.button:active {
  background-color: $gray-3;
}
