@import '../../../../styles/colors.scss';
@import '../../../../styles/typography.scss';

.button {
  display: inline-block;
  padding: 8px 40px 8px 16px;
  border: none;
  background: $white;
  border-radius: 6px;
  color: $gray-1;
  cursor: pointer;
  font-size: 16px;
  font-weight: $font-regular;
  outline: inherit;
  text-align: left;
}

.button:active {
  background-color: $gray-3;
}
