@import 'styles/colors.scss';
@import 'styles/layout.scss';
@import 'styles/typography.scss';

.details {
  margin-top: calc(100vw + 12px);
}

.heading {
  @extend %flex, %flex-column;
  margin-bottom: 24px;
  color: $gray-1;
}

.title {
  @extend %title-bold;
  margin-bottom: 12px;
}

.release {
  @extend %caption-regular;
}

.song-rows {
  margin-right: 8px;
}

.song-row {
  @extend %flex, %flex-row, %flex-align-center;
  margin: 16px 0;
}

.number {
  @extend %sub-heading-regular;
  width: 24px;
  margin-right: 12px;
  color: $gray-3;
}

.song-card {
  width: 100%;
}
