@import '../../../styles/colors.scss';
@import '../../../styles/elevations.scss';

.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: $gradient-2;
}

.profile-image {
  @extend %elevation-2;
  position: relative;
  z-index: 4;
  display: block;
  width: 150px;
  margin: auto;
  margin-top: -180px;
  border-radius: 12px;
}
