@import '../../../styles/colors.scss';
@import '../../../styles/elevations.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/typography.scss';

.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
}

.profile-image {
  @extend %elevation-2;
  position: relative;
  z-index: 4;
  display: block;
  width: 150px;
  margin: auto;
  margin-top: -180px;
  border-radius: 12px;
}

.card {
  margin-top: -64px;
}

.first-container {
  @extend %flex, %flex-column, %flex-align-center;
  margin-top: 64px;
}

.name {
  @extend %sub-heading-bold;
  margin-bottom: 4px;
}

.name-caption {
  @extend %body-light;
  margin-bottom: 4px;
  color: $gray-3;
  text-transform: capitalize;
}

.sites {
  a {
    @extend %body-light;
    margin-right: 4px;
    margin-left: 4px;
    color: $purple-1;
    text-decoration: underline;
  }
  margin-bottom: 4px;
}

.second-container {
  @extend %flex, %flex-row;
  flex-wrap: wrap;
  justify-content: start;
}

.info-item {
  @extend %flex, %flex-column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 12px;
}

.info-item-title {
  @extend %body-light;
  margin-bottom: 8px;
  color: $gray-3;
  line-height: $size-body;
}

.info-item-content {
  @extend %body-regular;
  color: $gray-2;
  line-height: $size-body;
}

.blood-type {
  text-transform: uppercase;
}

.photo-albums-container {
  margin-bottom: 48px;
}

.sub-heading {
  @extend %sub-heading-bold;
  display: block;
  margin-bottom: 16px;
  color: $gray-2;
}

.photo-album-list {
  list-style-position: inside;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.photo-album {
  @extend %body-regular;
  padding-bottom: 6px;
  color: $gray-3;
  .photo-album-release {
    @extend %body-light;
  }
}

.position-history-container {
  margin-bottom: 32px;
}

.position-history {
  @extend %flex, %flex-row;
  flex-wrap: wrap;
  justify-content: center;
}

.position-record {
  @extend %flex, %flex-column, %flex-align-center;
  margin: 6px;
}

.single-number {
  @extend %caption-light;
  margin-bottom: 4px;
  color: $gray-2;
}

.position-counter-container {
  margin-bottom: 48px;
}

.position-indicators {
  @extend %flex, %flex-row, %flex-justify-center, %flex-align-center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.position-indicator {
  @extend %flex, %flex-row, %flex-justify-center, %flex-align-center;
  margin: 6px;
}

.position-indicator-caption {
  @extend %caption-regular;
  margin-left: 4px;
  color: $gray-3;
}

.gallery-container {
  margin-bottom: 32px;
}

.gallery {
  @extend %grid-three-columns;
}

.gallery-image {
  @extend %elevation-1;
  width: 100%;
  margin-top: 16px;
  border-radius: 8px;
}
