body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: inherit;
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  src: local('Noto Sans JP'), url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,500,700') format('woff2');
}
