body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: inherit;
}


@font-face {
  font-family: 'Noto Sans JP';
  font-display: swap;
  src: local('Noto Sans JP'), url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,500,700') format('woff2');
}