@import '../../../styles/colors.scss';
@import '../../../styles/layout.scss';
@import '../../../styles/elevations.scss';
@import '../../../styles/typography.scss';

.menu {
  display: block;
  width: fit-content;
  margin: 16px 32px;
}

.toggle-button {
  @extend %flex-vertical-center;
  padding-left: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: inherit;
}

.toggle-button-text {
  padding: 8px 4px 8px 4px;
  color: $gray-1;
  font-size: 16px;
  font-weight: $font-bold;
  text-align: left;
  text-transform: uppercase;
}

.toggle-button-icon {
  width: 20px;
  height: 20px;
  fill: $gray-1;
  @extend %flex-vertical-center;
}

.dropdown {
  position: absolute;
  z-index: 10;
  display: inline-block;
  padding: 8px 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: $elevation-4;
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.enter {
  opacity: 0;
  transform: translateY(-20px);
}

.enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 200ms, transform 200ms, ease-in;
}

.exit {
  opacity: 1;
  transform: translateY(0px);
}

.exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 200ms, transform 200ms;
}
