@import "../../../styles/colors.scss";
@import "../../../styles/layout.scss";
@import "../../../styles/elevations.scss";
@import "../../../styles/typography.scss";

.menu {
  display: block;
}

.toggle-button {
  @extend %flex-vertical-center;
  border: none;
  background: none;
  outline: inherit;
  cursor: pointer;
  padding-left: 0;
}

.toggle-button-text {
  color: $gray-1;
  font-size: 14px;
  font-weight: $font-bold;
  padding: 8px 4px 8px 4px;
  text-align: left;
  text-transform: uppercase;
}

.toggle-button-icon {
  width: 20px;
  height: 20px;
  fill: $gray-1;
  @extend %flex-vertical-center;
}

.dropdown {
  background-color: #fff;
  box-shadow: $elevation-4;
  border-radius: 4px;
  list-style-type: none;
  padding-inline-start: 0;
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 8px 0;
  position: fixed;
}
